<div id="<%= dom_id picture_shot %>">
  <p>
    <strong>Title:</strong>
    <%= picture_shot.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= picture_shot.description %>
  </p>

  <p>
    <strong>User references:</strong>
    <%= picture_shot.user_references %>
  </p>

  <p>
    <strong>User pictureshot:</strong>
    <%= picture_shot.user_pictureshot %>
  </p>

</div>
